/*!
* CSS3 3D图书展示 (3D Book Showcase)
* Copyright (c) 2013, 梦幻神化 
* http://www.bluesdream.com
*
* Create: 2013.01.28
* 
*/

/* = Reset
-------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

/* = Global
-------------------------------------------------------------- */
html {
  height: 100%;
}

body {
  font-family: "Cardo", Arial, sans-serif;
  height: 100%;
  /* background-image: linear-gradient( 135deg, #79F1A4 10%, #011428 100%); */
}

.bgr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bgr .images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bgr .image {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
}

.bgr .image.img0 {
  background-image: url("home-bg0.jpeg");
  opacity: 1;
  animation: none;
}
.bgr .image.img1 {
  background-image: url("home-bg1.jpeg");
  animation: slider1 50s ease-in-out infinite;
}
.bgr .image.img2 {
  background-image: url("home-bg2.jpeg");
  animation: slider2 50s ease-in-out infinite;
}
.bgr .image.img3 {
  background-image: url("home-bg3.jpeg");
  animation: slider3 50s ease-in-out infinite;
}
.bgr .image.img4 {
  background-image: url("home-bg4.jpeg");
  animation: slider4 50s ease-in-out infinite;
}
.bgr .image.img5 {
  background-image: url("home-bg5.jpeg");
  animation: slider5 50s ease-in-out infinite;
}
.bgr .image.img6 {
  background-image: url("home-bg5.jpeg");
  animation: slider6 50s ease-in-out infinite;
}
.bgr .image.img7 {
  background-image: url("home-bg7.jpeg");
  animation: slider7 50s ease-in-out infinite;
}
.bgr .image.img8 {
  background-image: url("home-bg8.jpeg");
  animation: slider8 50s ease-in-out infinite;
}
.bgr .image.img9 {
  background-image: url("home-bg9.jpeg");
  animation: slider9 50s ease-in-out infinite;
}

.bgr:after {
  content: "";
  background: url("dot2.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swing {
  height: 100%;
  animation: MoveUpDown 5s ease-in-out infinite;
}

#book-shadow {
  width: 100%;
  height: 20px;
  box-shadow: 40px 40px 20px #000;
  position: absolute;
  bottom: 20px;
  border-radius: 100%;
  animation: MoveUpDownShadow 5s ease-in-out infinite;
}

.txt-right {
  text-align: right;
}

#book {
  cursor: pointer;
  width: 420px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
}
.main {
  width: 420px;
  height: 560px;
  color: #fff;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* = Book Font
-------------------------------------------------------------- */
.book-font {
  width: 420px;
  height: 560px;
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 15px;
  text-align: center;
  /* text-shadow:0 2px 0 rgba(30,35,45,1); */
  box-shadow: inset 3px 0 10px rgba(0, 0, 0, 0.1); /* 给书本添加光照阴影 */
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;

  -webkit-transform: translate3d(0, 0, 25px); /* 对应关系-1 */
  -moz-transform: translate3d(0, 0, 25px);
  -ms-transform: translate3d(0, 0, 25px);
  -o-transform: translate3d(0, 0, 25px);
  transform: translate3d(0, 0, 25px);
}
.book-cover {
  width: 420px;
  height: 560px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  background-size: contain;
}
.book-cover-back {
  width: 420px;
  height: 560px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #482b0c;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
  -o-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
}

.book-cover {
  background: #482b0c;
}

.book-cover p {
  margin: 20px auto;
}

.logo {
  margin: 50px 0 25px 0;
  height: 138px;
}
.title {
  font-size: 38px;
}
.title small {
  font-size: 20px;
}
.cover-image {
  margin-top: 50px;
  width: 200px;
}
.author {
  font-size: 20px;
  line-height: 28px;
}
.publisher {
  width: 100%;
  position: absolute;
  bottom: 22px;
}

.version {
  position: absolute;
  bottom: 22px;
  right: 20px;
  font-size: 10px;
}

/* = Book Page
-------------------------------------------------------------- */
.book-page {
  width: 415px;
  height: 550px;
  line-height: 20px;
  position: absolute;
  top: 5px;
  z-index: 9;
  box-shadow: inset 3px 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transition-duration: 0.5s;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform: translate3d(
    0,
    0,
    24px
  ); /* 这里的Z坐标 一定要比封面页的低 否则旋转的时候 渲染时会导致层叠*/
  -moz-transform: translate3d(0, 0, 24px);
  -ms-transform: translate3d(0, 0, 24px);
  -o-transform: translate3d(0, 0, 24px);
  transform: translate3d(0, 0, 24px);
}
.page {
  height: 500px;
  margin: 30px 25px;
  overflow: hidden;
}
.page a {
  color: #0c3d1d;
}

.book-page h3 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 14px;
}
.book-page p {
  font-size: 13px;
  margin-bottom: 14px;
}
.page-number {
  width: 100%;
  font-size: 13px;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

/* = Book Back
-------------------------------------------------------------- */
.book-back {
  width: 420px;
  background: #482b0c;
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
  -webkit-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 25px);
  -moz-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 25px);
  -ms-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 25px);
  -o-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 25px);
  transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 25px);
  z-index: 8;
}
.book-back .description {
  font-size: 14px;
  line-height: 20px;
  margin-top: 50px;
  padding: 10px 20px 10px 30px;
  background: rgba(255, 255, 255, 0.1);
}
.book-back p {
  padding: 5px 0;
}
.isbn {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

/* = Book Bone
-------------------------------------------------------------- */
.book-bone {
  width: 50px;
  background: #482b0c;
  box-shadow: 1px 0 0 #29303a, -1px 0 0 #29303a; /* 旋转的时候 拼接处隐隐约约会有个缝隙 所以加上个阴影来填补它 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: -25px;
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
  -moz-transform: rotate3d(0, 1, 0, -90deg);
  -ms-transform: rotate3d(0, 1, 0, -90deg);
  -o-transform: rotate3d(0, 1, 0, -90deg);
  transform: rotate3d(0, 1, 0, -90deg);
}
.book-bone h2 {
  width: 530px;
  height: 50px;
  line-height: 50px; /* 对应关系-1 */
  font-size: 14px;
  text-align: right;
  padding: 0 15px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;

  -webkit-transform: rotate(90deg) translateY(-50px); /* 对应关系-1 */
  -moz-transform: rotate(90deg) translateY(-50px);
  -ms-transform: rotate(90deg) translateY(-50px);
  -o-transform: rotate(90deg) translateY(-50px);
  transform: rotate(90deg) translateY(-50px);
}
.book-bone span {
  font-size: 14px;
  padding-right: 20px;
}

/* = Order
-------------------------------------------------------------- */
.book-cover:after,
.book-back:after {
  /*  */
  content: "";
  width: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}
.book-page,
.book-top,
.book-right,
.book-bottom {
  background: #eeefe9;
}
.book-right {
  width: 50px;
  height: 550px;
  position: absolute;
  top: 5px;
  right: -20px;
  box-shadow: 0 1px 0 #eeefe9, 0 -1px 0 #eeefe9;
  -webkit-transform: rotate3d(0, 1, 0, 90deg);
  -moz-transform: rotate3d(0, 1, 0, 90deg);
  -ms-transform: rotate3d(0, 1, 0, 90deg);
  -o-transform: rotate3d(0, 1, 0, 90deg);
  transform: rotate3d(0, 1, 0, 90deg);
}
.book-top {
  width: 415px;
  height: 50px;
  position: absolute;
  top: -20px;
  left: 0;
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
  -moz-transform: rotate3d(1, 0, 0, 90deg);
  -ms-transform: rotate3d(1, 0, 0, 90deg);
  -o-transform: rotate3d(1, 0, 0, 90deg);
  transform: rotate3d(1, 0, 0, 90deg);
}
.book-bottom {
  width: 415px;
  height: 50px;
  position: absolute;
  bottom: -20px;
  left: 0;
  -webkit-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 0);
  -moz-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 0);
  -ms-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 0);
  -o-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 0);
  transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 0);
}
.book-right,
.book-top,
.book-bottom {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* = Flip
-------------------------------------------------------------- */
/* Cover */
.view-cover .main {
  transform: rotate3d(0, 1, 0, -26deg) rotate3d(1, 0, 0, 20deg);
}

.view-cover:hover .main {
  -webkit-transform: rotate3d(0, 1, 0, 0deg);
  -moz-transform: rotate3d(0, 1, 0, 0deg);
  -ms-transform: rotate3d(0, 1, 0, 0deg);
  -o-transform: rotate3d(0, 1, 0, 0deg);
  transform: rotate3d(0, 1, 0, 0deg);
}
/* Cover Back */
.view-back .main {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}
/*
  .view-back:hover .main{
    -webkit-transform:rotate3d(0,1,0,140deg);
    -moz-transform:rotate3d(0,1,0,140deg);
    -ms-transform:rotate3d(0,1,0,140deg);
    -o-transform:rotate3d(0,1,0,140deg);
    transform:rotate3d(0,1,0,140deg);
  }
  */
/* Open */
.open-book {
  -webkit-transform: translate3d(50%, 0, 0);
  -moz-transform: translate3d(50%, 0, 0);
  -ms-transform: translate3d(50%, 0, 0);
  -o-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}
.open-book .book-font {
  -webkit-transform: translate3d(0, 0, 25px) rotate3d(0, 1, 0, -160deg);
  -moz-transform: translate3d(0, 0, 25px) rotate3d(0, 1, 0, -160deg);
  -ms-transform: translate3d(0, 0, 25px) rotate3d(0, 1, 0, -160deg);
  -o-transform: translate3d(0, 0, 25px) rotate3d(0, 1, 0, -160deg);
  transform: translate3d(0, 0, 25px) rotate3d(0, 1, 0, -160deg);
}
/*
.open-book:hover .main {
  -webkit-transform: rotate3d(1, 1, 0, 15deg);
  -moz-transform: rotate3d(1, 1, 0, 15deg);
  -ms-transform: rotate3d(1, 1, 0, 15deg);
  -o-transform: rotate3d(1, 1, 0, 15deg);
  transform: rotate3d(1, 1, 0, 15deg);
}
*/
/* View Right */
.view-rotate .main {
  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -ms-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;

  -webkit-transform: rotate3d(0, 1, 0, 360deg);
  -moz-transform: rotate3d(0, 1, 0, 360deg);
  -ms-transform: rotate3d(0, 1, 0, 360deg);
  -o-transform: rotate3d(0, 1, 0, 360deg);
  transform: rotate3d(0, 1, 0, 360deg);
}
.view-rotate:hover .main {
  -webkit-transition-duration: 8s;
  -moz-transition-duration: 8s;
  -ms-transition-duration: 8s;
  -o-transition-duration: 8s;
  transition-duration: 8s;

  -webkit-transform: rotate3d(0, 1, 0, -360deg);
  -moz-transform: rotate3d(0, 1, 0, -360deg);
  -ms-transform: rotate3d(0, 1, 0, -360deg);
  -o-transform: rotate3d(0, 1, 0, -360deg);
  transform: rotate3d(0, 1, 0, -360deg);
}

.buttons {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.button {
  background: #482b0c;
  border: 1px solid #b39b82;
  border-radius: 3px;
  color: #eee;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  box-shadow: 4px 4px 15px #666;
  transition: all 0.4s;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center;
}

.button img {
  opacity: 0.7;
  margin-right: 10px;

}

.button:hover {
  box-shadow: 2px 2px 5px #666;
  background: #fff;
  color: #333;
}


/* .-------- animation -------. */
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes MoveUpDownShadow {
  0%,
  100% {
    transform: translateY(0);
    box-shadow: 40px 60px 20px #000;
  }
  50% {
    transform: translateY(10px);
    box-shadow: 40px 60px 30px #000;
  }
}

@keyframes slider1 {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider2 {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider3 {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider4 {
  0% {
    opacity: 0;
  }
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider5 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider6 {
  0% {
    opacity: 0;
  }
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider7 {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider8 {
  0% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider9 {
  0% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider10 {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

article {
  background: #29303a;
  color: #fff;
  padding: 30px;
}

article p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}

article p:last-child {
  border: 0;
}

article a {
  color: #fff;
}

article h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* -----------------------  responsive ------------------- */
.mobile {
  display: none;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  #book {
    zoom: 0.6;
  }

  .mobile {
    display: block;
  }

  .bgr .image {
    animation: none !important;
  }

  .button.left,
  .button.right {
    height: 20px;
  }

  .button {
    width: 250px;
  }

  .button.left {
    margin-bottom: 8px;
  }

  .buttons {
    top: 396px;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #book {
    align-items: flex-start;
    padding-top: 10%;
  }
}
